<HookManager>
    <Types>
        <Enumeration Name="RegKeyHandle">
            <Member Name="HKEY_CLASSES_ROOT" Value="0x80000000"/>
            <Member Name="HKEY_CURRENT_USER" Value="0x80000001"/>
            <Member Name="HKEY_LOCAL_MACHINE" Value="0x80000002"/>
            <Member Name="HKEY_USERS" Value="0x80000003"/>
            <Member Name="HKEY_DYN_DATA" Value="0x80000006"/>
        </Enumeration>
        <Structure Name="Ipv4Sockaddr">
            <Field Name="sin_family" Offset="0" Type="UInt16"/>
            <Field Name="sin_port" Offset="2" Type="UInt16" Endian="big"/>
            <Field Name="sin_addr" Offset="4" Type="Ipv4InAddr"/>
        </Structure>
        <Structure Name="P2PBridgeProperties">
            <Field Name="field_0" Offset="0" Type="UInt32"/>
            <Field Name="field_4" Offset="4" Type="UInt32"/>
            <Field Name="field_8" Offset="8" Type="UInt32"/>
            <Field Name="field_C" Offset="0xC" Type="UInt32"/>
            <Field Name="field_10" Offset="0x10" Type="UInt32"/>
            <Field Name="field_14" Offset="0x14" Type="UInt32"/>
            <Field Name="field_18" Offset="0x18" Type="UInt32"/>
            <Field Name="field_20" Offset="0x20" Type="UInt32"/>
        </Structure>
    </Types>
    <Specs>
        <Functions>
            <Function Name="connect">
                <Arguments>
                    <Argument Name="s" Direction="in" Type="UInt32" Hex="true"/>
                    <Argument Name="name" Direction="in" Type="Ipv4SockaddrPtr"/>
                    <Argument Name="namelen" Direction="in" Type="UInt32"/>
                </Arguments>
            </Function>
            <Function Name="recv">
                <Arguments>
                    <Argument Name="s" Direction="in" Type="UInt32" Hex="true"/>
                    <Argument Name="buf" Direction="out" Type="ByteArrayPtr" Size="reg.eax"/>
                    <Argument Name="len" Direction="in" Type="UInt32"/>
                    <Argument Name="flags" Direction="in" Type="UInt32" Hex="true"/>
                </Arguments>
            </Function>
            <Function Name="send">
                <Arguments>
                    <Argument Name="s" Direction="in" Type="UInt32" Hex="true"/>
                    <Argument Name="buf" Direction="in" Type="ByteArrayPtr" Size="arg.len"/>
                    <Argument Name="len" Direction="in" Type="UInt32"/>
                    <Argument Name="flags" Direction="in" Type="UInt32" Hex="true"/>
                </Arguments>
            </Function>

            <Function Name="RegOpenKeyExW">
                <Arguments>
                    <Argument Name="hKey" Direction="in" Type="RegKeyHandle"/>
                    <Argument Name="lpSubKey" Direction="in" Type="UnicodeStringPtr"/>
                    <Argument Name="ulOptions" Direction="in" Type="UInt32"/>
                    <Argument Name="samDesired" Direction="in" Type="UInt32" Hex="true"/>
                    <Argument Name="phkResult" Direction="out" Type="UInt32Ptr" Hex="true"/>
                </Arguments>
            </Function>
        </Functions>
        <VTables>
            <VTable Id="CP2PTransportBridge" MethodCount="22">
                <Method Index="0" Name="OnBridgePeerConnectingEndpointsUpdated" CallingConvention="thiscall" ArgsSize="8"/>
                <Method Index="1" Name="OnBridgePeerListeningEndpointsUpdated" CallingConvention="thiscall" ArgsSize="4"/>
                <Method Index="4" Name="P2PListen" CallingConvention="thiscall" ArgsSize="8"/>
                <Method Index="5" Name="P2PConnect" CallingConvention="thiscall" ArgsSize="8"/>
                <Method Index="7" Name="Destroy" CallingConvention="thiscall" ArgsSize="4"/>
                <Method Index="8" Name="Shutdown" CallingConvention="thiscall" ArgsSize="0"/>
                <Method Index="9" Name="Init" CallingConvention="thiscall" ArgsSize="4"/>
                <Method Index="10" Name="Send" CallingConvention="thiscall" ArgsSize="16"/>
                <Method Index="11" Name="GetProperties" CallingConvention="thiscall">
                    <Arguments>
                        <Argument Name="lpProperties" Direction="out" Type="P2PBridgePropertiesPtr"/>
                    </Arguments>
                </Method>
                <Method Index="12" Name="ReadyToSend" CallingConvention="thiscall" ArgsSize="0"/>
                <Method Index="13" Name="ConnectBridge" CallingConvention="thiscall" ArgsSize="0"/>
                <Method Index="17" Name="OnReceivedConnectRequest" CallingConvention="thiscall" ArgsSize="4"/>
                <Method Index="18" Name="OnDataReceived" CallingConvention="thiscall" ArgsSize="16"/>
                <Method Index="19" Name="OnDataResponse" CallingConvention="thiscall" ArgsSize="12"/>
                <Method Index="20" Name="OnBridgeStateChange" CallingConvention="thiscall" ArgsSize="8"/>
            </VTable>
        </VTables>
    </Specs>
    <Signatures>
        <Signature Name="WLMDebug">
            84 C0                          <!-- test al, al                     -->
            74 14                          <!-- jz short loc_448B51             -->
            83 7D 0C 02                    <!-- cmp [ebp+arg_4], 2              -->
            77 0E                          <!-- ja short loc_448B51             -->
            FF 75 14                       <!-- push [ebp+arg_C]                -->
            FF 75 10                       <!-- push [ebp+arg_8]                -->
            FF 75 08                       <!-- push [ebp+arg_0]                -->
            E8                             <!-- call ...                        -->
        </Signature>
        <Signature Name="CTCPBridgeCtor">
            C7 86 FC 00 00 00 98 3A 00 00  <!-- mov dword ptr [esi+0FCh], 15000 -->
            C7 86 00 01 00 00 78 05 00 00  <!-- mov dword ptr [esi+100h], 1400  -->
        </Signature>
        <Signature Name="CUDPBridgeCtor">
            C7 86 10 01 00 00 20 4E 00 00  <!-- mov dword ptr [esi+110h], 20000 -->
            C7 86 14 01 00 00 06 00 00 00  <!-- mov dword ptr [esi+114h], 6     -->
        </Signature>
        <Signature Name="CTurnBridgeCtor">
            66 C7 86 6A 01 00 00 01 80     <!-- mov word ptr [esi+16Ah], 32769  -->
            66 C7 86 6C 01 00 00 01 81     <!-- mov word ptr [esi+16Ch], 33025  -->
        </Signature>
        <Signature Name="CSBBridgeCtor">
            89 5E 18                       <!-- mov [esi+18h], ebx              -->
            8D 4E 24                       <!-- lea ecx, [esi+24h]              -->
        </Signature>
    </Signatures>
    <Hooks>
        <DllModule Name="ws2_32.dll">
            <Function SpecId="connect"/>
            <Function SpecId="recv"/>
            <Function SpecId="send"/>
        </DllModule>
        <DllModule Name="advapi32.dll">
            <Function SpecId="RegOpenKeyExW"/>
        </DllModule>
        <Functions ProcessName="msnmsgr.exe">
            <Function SpecId="WLMDebug" SigId="WLMDebug" SigOffset="-11"/>
        </Functions>
        <VTables ProcessName="msnmsgr.exe">
            <VTable SpecId="CP2PTransportBridge" Name="CTCPTransportBridge" CtorSigId="CTCPBridgeCtor" CtorSigOffset="-50"/>
            <VTable SpecId="CP2PTransportBridge" Name="CTrivialUDPTransportBridge" CtorSigId="CUDPBridgeCtor" CtorSigOffset="-122"/>
            <VTable SpecId="CP2PTransportBridge" Name="CTurnBridge" CtorSigId="CTurnBridgeCtor" CtorSigOffset="-407"/>
            <VTable SpecId="CP2PTransportBridge" Name="CSBBridge" CtorSigId="CSBBridgeCtor" CtorSigOffset="-10"/>
        </VTables>
    </Hooks>
</HookManager>
