<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="oSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <oSpy.Properties.Settings>
            <setting name="oSpy_repository_RepositoryService" serializeAs="String">
                <value>http://projects.collabora.co.uk/~oleavr/oSpy/repository/api.php</value>
            </setting>
        </oSpy.Properties.Settings>
    </applicationSettings>
</configuration>